################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BFG.Demo.Api/bin
/BFG.Demo.Api/obj
/BFG.Demo.Api/.vs
